<!doctype html>
<html lang="en" class="dark-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/admin/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="/assets/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="/assets/admin/css/style.css" rel="stylesheet" />
    <link href="/assets/admin/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="/assets/admin/css/pace.min.css" rel="stylesheet" />


    <!--Theme Styles-->
    <link href="/assets/admin/css/dark-theme.css" rel="stylesheet" />
    <link href="/assets/admin/css/light-theme.css" rel="stylesheet" />
    <link href="/assets/admin/css/semi-dark.css" rel="stylesheet" />
    <link href="/assets/admin/css/header-colors.css" rel="stylesheet" />

    <title>Skodash - Bootstrap 5 Admin Template</title>
</head>

<body>


    <!--start wrapper-->
    <div class="wrapper">
        <!--start top header-->
       
        <!--end top header-->

        <!--start sidebar -->
        
        <!--end sidebar -->

        <!--start content-->
        <main class="page-content">
            <!--breadcrumb-->
            
            <!--end breadcrumb-->

            <div class="row">

                <div class="card">
                    <div class="card-body">

                        <div class="d-flex align-items-center">
                            <h5 class="mb-0"> All Fund categories</h5>
                            <form class="ms-auto position-relative">
                                <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i
                                        class="bi bi-search"></i></div>
                                <input class="form-control ps-5" [(ngModel)]="fcid" type="number" placeholder="Search by Id"
                                    (keyup)="SearchCatById(fcid)" [ngModelOptions]="{standalone: true}">
                            </form>
                            <form class="ms-auto position-relative">
                                <input class="form-control ps-5" [(ngModel)]="keyword" type="text"
                                    placeholder="Search by keyword" [ngModelOptions]="{standalone: true}">
                                    <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i
                                        class="bi bi-search"></i></div>
                            </form>
                        </div>
                        <div class="table-responsive mt-3">
                            <table class="table align-middle mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Fund Category</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let f of listFundCat |filter:keyword">
                                        <td>{{f.categoryId}}</td>
                                        <td>
                                            <div class="d-flex align-items-center gap-3 cursor-pointer">
                                                <img src={{f.categoryImg}} class="rounded-circle" width="44" height="44"
                                                    alt="">
                                                <div class="">
                                                    <p class="mb-0">{{f.categoryType}}</p>
                                                </div>
                                            </div>
                                        </td>

                                        <td>
                                            <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                                <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" title="" data-bs-original-title="Views"
                                                    aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                                <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" title="" data-bs-original-title="Edit"
                                                    aria-label="Edit"><i class="bi bi-pencil-fill"
                                                        [routerLink]="['/admin/FundCategory/update',f.categoryId]"></i></a>
                                                <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip"
                                                    data-bs-placement="bottom" title="" data-bs-original-title="Delete"
                                                    aria-label="Delete"><i class="bi bi-trash-fill"
                                                        (click)="deleteFundCateById(f.categoryId)"></i></a>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>
                            </table>

                        </div>
                    </div>
                    <div class="table-responsive mt-3" *ngif="search==true">
                        <table class="table align-middle mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th>#</th>
                                    <th>Fund Category</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{fc.categoryId}}</td>
                                    <td>
                                        <div class="d-flex align-items-center gap-3 cursor-pointer">
                                            <img src={{fc.categoryImg}} class="rounded-circle" width="44" height="44"
                                                alt="">
                                            <div class="">
                                                <p class="mb-0">{{fc.categoryType}}</p>
                                            </div>
                                        </div>
                                    </td>

                                    <td>
                                        <div class="table-actions d-flex align-items-center gap-3 fs-6">
                                            <a href="javascript:;" class="text-primary" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title="" data-bs-original-title="Views"
                                                aria-label="Views"><i class="bi bi-eye-fill"></i></a>
                                            <a href="javascript:;" class="text-warning" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title="" data-bs-original-title="Edit"
                                                aria-label="Edit"><i class="bi bi-pencil-fill"
                                                    [routerLink]="['/admin/FundCategory/update',fc.categoryId]"></i></a>
                                            <a href="javascript:;" class="text-danger" data-bs-toggle="tooltip"
                                                data-bs-placement="bottom" title="" data-bs-original-title="Delete"
                                                aria-label="Delete"><i class="bi bi-trash-fill"
                                                    (click)="deleteFundCateById(fc.categoryId)"></i></a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--end row-->

        </main>
        <!--end page main-->


       <app-footer></app-footer>
    </div>


</body>

</html>