<footer>
  <div class="container">
    <div class="row">
      <!--WIDGET RECENT POST START-->
      <div class="col-md-3">
        <div class="widget widget-recentpost">
          <h2>Recent Comments</h2>
          <ul>
            <li><a href="#">Ut perspiciatis unde<span>June 15</span></a></li>
            <li><a href="#">Mistaken idea of <span>June 22</span></a></li>
            <li><a href="#">At vero  accusamus et iusto<span>April 13</span></a></li>
            <li><a href="#">Ut perspiciatis unde <span>July 24</span></a></li>
            <li><a href="#">Mistaken idea of <span>June 15</span></a></li>
            <li><a href="#">At vero  accusamus et iusto<span>April 13</span></a></li>
          </ul>
        </div>
      </div>
      <!--WIDGET RECENT POST END-->
      <!--TEXT WIDGET START-->
      <div class="col-md-3">
        <div class="widget widget-tags">
          <h2>Tag Clouds</h2>
          <ul>
            <li><a href="#">USER EXPERIENCE</a></li>
            <li><a href="#">HTML5</a></li>
            <li><a href="#">css3</a></li>
            <li><a href="#">WEB DESIGN</a></li>
            <li><a href="#">SOCIAL MEDIA</a></li>
            <li><a href="#">WEB DEVELOPMENT</a></li>
            <li><a href="#">PRINT DESIGN</a></li>
            <li><a href="#">css3</a></li>
            <li><a href="#">WEB DESIGN</a></li>
            <li><a href="#">SOCIAL MEDIA</a></li>
            <li><a href="#">WEB DEVELOPMENT</a></li>
            <li><a href="#">WEB DESIGN</a></li>


          </ul>
        </div>
      </div>
      <!--TEXT WIDGET END-->

      <!--FOLLOW US WIDGET START-->
      <div class="col-md-3">
        <div class="widget widget-social-network">
          <h2>Follow Us</h2>
          <ul>
            <li class="twitter">
              <a href="#">
                <span>5k <small>Followers</small></span>
                <i class="fa fa-twitter"></i>
              </a>
            </li>
            <li class="fb">
              <a href="#">
                <span>5k <small>Followers</small></span>
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li class="google">
              <a href="#">
                <span>5k <small>Followers</small></span>
                <i class="fa fa-google-plus"></i>
              </a>
            </li>
            <li class="dribbble">
              <a href="#">
                <span>5k <small>Followers</small></span>
                <i class="fa fa-dribbble"></i>
              </a>
            </li>
          </ul>
          <div class="input-container">
            <input type="text" placeholder="E-mail">
            <button>Subscribe</button>
          </div>
        </div>
      </div>
      <!--FOLLOW US WIDGET END-->
      <div class="col-md-3">
        <div class="widget widget-flickr">
          <h2>Flickr Gallery</h2>
          <ul>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr2.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr3.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr4.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr5.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr6.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr2.png"></a></li>
            <li><a href="#"><img alt="" src="/assets/user-template/images/flickr3.png"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="copyrights">
  <div class="container">
    <p>©2015 Feminist, Design by kodeforest</p>
    <div class="footer-nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Our Staff</a></li>
        <li><a href="#">Causes</a></li>
        <li><a href="#">Shop</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>
  </div>
</div>
