<footer class="text-center text-lg-start bg-light text-muted">
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <div>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-facebook"></i>
        </a>
        <a href="" class="me-4 text-reset">
            <i class="bi bi-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </section>
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <div class="row mt-3">
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="bi bi-gem me-3"></i>WomanArea51
            </h6>
            <p>
              Always trying our best to protect your rights and always open for any complaint or recommandation.
            </p>
          </div>
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Services
            </h6>
            <p>
              <a href="#!" class="text-reset">Forum</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Donations</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Courses</a>
            </p>
            <p>
                <a href="#!" class="text-reset">Work</a>
            </p>
          </div>
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Offered Services</a>
            </p>
            <p>
              <a href="#!" class="text-reset">About Us</a>
            </p>
          </div>
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="bi bi-house me-3"></i>18, rue de l'Usine - ZI Aéroport Charguia II 2035 Ariana</p>
            <p>
              <i class="bi bi-envelope me-3"></i>
              ramzi.kerkeni@esprit.tn
            </p>
            <p><i class="bi bi-phone me-3"></i>+216 00 000 000</p>
          </div>
        </div>
      </div>
    </section>
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://www.womanarea51.ml/">WomanArea51.ml</a>
    </div>
  </footer>
