
<app-layout-front >    

  <div class="container"  >
    <div class="col-12 col-sm-12 col-md-12" style="margin-bottom : 30px; margin-top: 10px;" >
          <div class="card">
            <div class="card-header">
              <h4>Forum</h4>
            </div>
            <div class="card-body">
              <div class="media-list position-relative">
                <div class="table-responsive" id="project-team-scroll" tabindex="1" style="height: 200px; overflow: hidden; outline: none;">
                  <table class="table table-hover table-xl mb-0">
                    <thead>
                      <tr>
                        <th>Topic</th>
                        <th>Reactions</th>
                        <th>Comments</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-truncate"><a href="https://www.google.com">How to know if my husband is manipulative ?</a></td>
                        <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0">
                            <li class="avatar avatar-sm"><span class=" badge-primary">1425</span></li>
                          </ul>
                        </td>
                        <td class="text-truncate">745</td>
                      </tr>
                      <tr>
                        <td class="text-truncate"><a href="https://www.google.com">How to have a new beginning ?</a></td>
                        <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0">
                            <li class="avatar avatar-sm"><span class="badge-primary">1023</span></li>
                          </ul>
                        </td>
                        <td class="text-truncate">543</td>
                      </tr>
                      <tr>
                        <td class="text-truncate"><a href="https://www.google.com">Recommanded loyers in Tunisia ?</a></td>
                        <td class="text-truncate">
                          <ul class="list-unstyled order-list m-b-0">
                            <li class="avatar avatar-sm"><span class="badge-primary">746</span></li>
                          </ul>
                        </td>
                        <td class="text-truncate">215</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
<!-- NEXT -->
<div class="container" >
  <div class="col-12 col-sm-12 col-md-12" style="margin-bottom : 30px;">
        <div class="card">
          <div class="card-header">
            <h4>Courses</h4>
          </div>
          <div class="card-body">
            <div class="media-list position-relative">
              <div class="table-responsive" id="project-team-scroll" tabindex="1" style="height: 200px; overflow: hidden; outline: none;">
                <table class="table table-hover table-xl mb-0">
                  <thead>
                    <tr>
                      <th>Topic</th>
                      <th>Subject</th>
                      <th>Difficulty</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Introduction to Python</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class=" badge-primary">Computer Science</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">Easy (L1)</td>
                    </tr>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Design Thinking Fundamentals</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class="badge-primary">Art</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">Easy (L1)</td>
                    </tr>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Quantum Mechanics of Molecular Structures</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class="badge-primary">Physics</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">Hard (L10)</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
<!-- NEXT -->
<div class="container" >
  <div class="col-12 col-sm-12 col-md-12" style="margin-bottom : 50px;">
        <div class="card">
          <div class="card-header">
            <h4>Job Offers</h4>
          </div>
          <div class="card-body">
            <div class="media-list position-relative">
              <div class="table-responsive" id="project-team-scroll" tabindex="1" style="height: 200px; overflow: hidden; outline: none;">
                <table class="table table-hover table-xl mb-0">
                  <thead>
                    <tr>
                      <th>Job</th>
                      <th>Position available</th>
                      <th>Salary</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Maintenance Manager</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class=" badge-primary">3</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">1700 DT</td>
                    </tr>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Data Analyst</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class="badge-primary">1</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">2200 DT</td>
                    </tr>
                    <tr>
                      <td class="text-truncate"><a href="https://www.google.com">Python Developer</a></td>
                      <td class="text-truncate">
                        <ul class="list-unstyled order-list m-b-0">
                          <li class="avatar avatar-sm"><span class="badge-primary">10</span></li>
                        </ul>
                      </td>
                      <td class="text-truncate">1200 DT</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>



</app-layout-front>