<header class="header-style-3">
  <!--NAV CONTAINER START-->
  <div class="nav-container">
    <div class="container">
      <!--LOGO START-->
      <div class="logo">
        <img src="/assets/user-template/images/logo.png" alt="">
      </div>
      <!--LOGOEND-->
      <!--NAVIGATION CONTENT START-->
      <div class="nav-content">
        <div id="kode-responsive-navigation" class="dl-menuwrapper">
          <button class="dl-trigger">Open Menu</button>
          <ul class="dl-menu">
            <li class="menu-item kode-parent-menu"><a href="index-2.html">Home</a>
              <ul class="dl-submenu">
                <li><a href="index-3.html">Home Layout 1</a></li>
                <li><a href="index-boxed.html">Home Layout 2</a></li>
              </ul>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li class="menu-item kode-parent-menu"><a href="latest-news.html">Events</a>
              <ul class="dl-submenu">
                <li><a href="latest-news.html">ALL EVENTS</a></li>
                <li><a href="latest-news-2.html" *ngIf="isLoggedIn">MY EVENTS</a></li>
              </ul>
            </li>

            <li class="menu-item kode-parent-menu"><a href="team.html">Our Team</a>
              <ul class="dl-submenu">
                <li><a href="team-detail-2.html">Team Detail</a></li>
              </ul>
            </li>
            <li class="menu-item kode-parent-menu"><a href="#">Forum</a>
              <ul class="dl-submenu">
                <li><a href="causes.html" *ngIf="isLoggedIn">All Posts</a></li>
                <li><a href="causes-list-view.html">All Ads</a></li>
                <li><a href="cause-detail.html" *ngIf="isLoggedIn">My Post</a></li>
                <li><a href="cause-detail.html" *ngIf="isLoggedIn">Chat Room</a></li>

              </ul>
            </li>

            <li class="menu-item kode-parent-menu"><a href="#">Courses</a>
              <ul class="dl-submenu">
                <li><a href="blog.html">All Courses</a></li>
                <li><a href="blog-2.html" *ngIf="isLoggedIn">My Courses</a></li>

              </ul>
            </li>
            <li class="menu-item kode-parent-menu last"><a href="#">Pages</a>
              <ul class="dl-submenu">
                <li><a href="under-construction.html">Under Cunstruction</a></li>
                <li><a href="error.html">Error 404</a></li>
                <li><a href="#">Gallery</a>
                  <ul>
                    <li><a href="gallery-2-col.html">Gallery (2 Column)</a></li>
                    <li><a href="gallery-3-col.html">Gallery (3 Column)</a></li>
                    <li><a href="gallery-4-col.html">Gallery (4 Column)</a></li>
                  </ul>
                </li>
                <li><a href="shop.html">Shop</a>
                  <ul>
                    <li><a href="shop-detail.html">Shop Detail</a></li>
                  </ul>
                </li>
                <li><a href="#">Shortcode</a>
                  <ul class="children">
                    <li><a href="skills.html">Skills Shortcode</a></li>
                    <li><a href="list.html">List Style</a></li>
                    <li><a href="frame.html">Frame Shortcode</a></li>
                    <li><a href="button.html">button Style</a></li>
                    <li><a href="accordian.html">accordian</a></li>
                    <li><a href="video.html">video</a></li>
                    <li><a href="tabs.html">Tabs</a></li>
                    <li><a href="table.html">table</a></li>
                    <li><a href="sepratore.html">separator</a></li>
                    <li><a href="headings.html">heading</a></li>
                    <li><a href="testimonials.html">testimonials</a></li>
                    <li><a href="map.html">map</a></li>
                    <li><a href="message.html">Message</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="contact-us.html">Complaints</a></li>
          </ul>
        </div>
        <!--NAVIGATION START-->
        <div class="navigation">
          <ul>
            <li class="menu-item kode-parent-menu"><a href="index-2.html">Home</a>
              <ul class="dl-submenu">
                <li><a href="index-3.html">Home Layout 1</a></li>
                <li><a href="index-boxed.html">Home Layout 2</a></li>
              </ul>
            </li>
            <li><a href="about-us.html">About Us</a></li>
            <li class="menu-item kode-parent-menu"><a href="latest-news.html">Events</a>
              <ul class="dl-submenu">
                <li><a href="latest-news.html">ALL EVENTS</a></li>
                <li><a href="latest-news-2.html" *ngIf="isLoggedIn">MY EVENTS</a></li>
              </ul>
            </li>

            <li class="menu-item kode-parent-menu"><a href="team.html">Our Team</a>
              <ul class="dl-submenu">
                <li><a href="team-detail-2.html">Team Detail</a></li>
              </ul>
            </li>
            <li class="menu-item kode-parent-menu"><a href="#">Forum</a>
              <ul class="dl-submenu">
                <li><a href="causes.html" *ngIf="isLoggedIn">All Posts</a></li>
                <li><a href="causes-list-view.html" >All Ads</a></li>
                <li><a href="cause-detail.html" *ngIf="isLoggedIn">My Post</a></li>
                <li><a href="cause-detail.html" *ngIf="isLoggedIn">Chat Room</a></li>
              </ul>
            </li>

            <li class="menu-item kode-parent-menu"><a href="#">Courses</a>
              <ul class="dl-submenu">
                <li><a href="blog.html">All Courses</a></li>
                <li><a href="blog-2.html" *ngIf="isLoggedIn">My Courses</a></li>
              </ul>
            </li>
            <li class="menu-item kode-parent-menu last"><a href="#">Pages</a>
              <ul class="dl-submenu">
                <li><a href="under-construction.html">Under Cunstruction</a></li>
                <li><a href="error.html">Error 404</a></li>
                <li><a href="#">Gallery</a> </li>
                <li><a href="shop.html">Shop</a>          </li>

              </ul>
            </li>
            <li><a href="contact-us.html">Contact Us</a></li>
            <li><a href="contact-us.html">Complaints</a></li>
          </ul>
        </div>
        <!--NAVIGATION END-->
        <div class="kf-nav-options">
          <ul>
            <li><a href="#"><i class="fa fa-bars"></i></a></li>
            <li><a [routerLink]="['/signin']" *ngIf="!isLoggedIn" ><i class="fa fa-user"></i></a></li>
            <li><a [routerLink]="['/profile']"  *ngIf="isLoggedIn" ><i class="fa fa-user"></i></a></li>










            <li *ngIf="isLoggedIn" >Hi, {{username}} </li>
            <li><a href="#"><i class="fa fa-search"></i></a></li>
            <li *ngIf="isLoggedIn"><a style="color: deeppink" [routerLink]="['/signin']">Logout</a></li>
          </ul>
        </div>
      </div>
      <!--NAVIGATION CONTENT END-->
    </div>
  </div>
  <!--NAV CONTAINER END-->
</header>
