<div class="main-banner">
  <ul class="bxslider">
    <li>
      <img src="/assets/user-template/images/banner-1.png" alt="">
      <div class="caption">
        <h2>Welcome to Feminist </h2>
        <h3>for those who need it!</h3>
        <div class="banner-meta">
          <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
          <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
          <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
          <a href="#"><i class="fa fa-user"></i>John Smith</a>

        </div>
        <a href="#" class="donate">Donate Now</a>
        <a href="#" class="donate">Subscribe now</a>
      </div>
    </li>
    <li>
      <img src="/assets/user-template/images/banner-2.png" alt="">
      <div class="caption">
        <h2>Women Empowerment </h2>
        <h3>for those who need it!</h3>
        <div class="banner-meta">
          <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
          <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
          <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
          <a href="#"><i class="fa fa-user"></i>John Smith</a>
        </div>
        <a href="#" class="donate">Donate Now</a>
        <a href="#" class="donate">Subscribe now</a>
      </div>
    </li>
    <li>
      <img src="/assets/user-template/images/banner-3.png" alt="">
      <div class="caption">
        <h2>Women Science & Technology</h2>
        <h3>for those who need it!</h3>
        <div class="banner-meta">
          <a href="#"><i class="fa fa-eye"></i>13 Veiws</a>
          <a href="#"><i class="fa fa-comments-o"></i>52 Comments</a>
          <a href="#"><i class="fa fa-heart-o"></i>652 Likes</a>
          <a href="#"><i class="fa fa-user"></i>John Smith</a>
        </div>
        <a href="#" class="donate">Donate Now</a>
        <a href="#" class="donate">Subscribe now</a>

      </div>
    </li>
  </ul>
</div>
<!--CONTENT START-->
<div class="content">
  <!--SERVICES SECTION START-->
  <section class="gray-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="kf-services">
            <i class="fa fa-heart-o"></i>
            <div class="kf-text">
              <h2>LOVE<br>WOMENS</h2>
              <p>Look Good Feel Better for Teens is a unique, free program for teenage cancer patients.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kf-services">
            <i class="fa fa-stethoscope"></i>
            <div class="kf-text">
              <h2>BreastCare<br>solutions</h2>
              <p>Getting the best care sometimes means cancer patients must travel away from home.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kf-services">
            <i class="fa fa-tint"></i>
            <div class="kf-text">
              <h2>DONATE FOR<br>BREASTCANCER</h2>
              <p>Join the fight against cancer by donating to the American Cancer Society.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="kf-services">
            <i class="fa fa-female"></i>
            <div class="kf-text">
              <h2>SAve ThE<br>Women</h2>
              <p>Our Road map is to provides rides to patients who have no way to get to treatment.</p>
              <a href="#" class="read-more">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--SERVICES SECTION END-->
  <!--CAUSES SECTION START-->
  <section class="causes-section overlay">
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#fff">Compain about the awareness of Breast Cancer</p>
        <h2 style="color:#fff">Breast Cancer Health Center</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class=" kode-cause">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/user-template/images/cause.jpg" alt="">
          </div>
          <div class="col-md-6">
            <h2>Help to Fight With Breast Cancer</h2>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugitne voluptatem sequi nesciunt.</p>
            <a href="#" class="read-more">Read More</a>
            <!--RANGE SLIDER START-->
            <div class="kode-range">
              Min: $ <span class="range-slider">500</span>
              <input class="range" type="text" data-slider-min="0" data-slider-max="2000" data-slider-step="1" data-slider-value="500"/>
              <span id="ex6CurrentSliderValLabel"></span>
            </div>
            <!--RANGE SLIDER END-->
            <!--DONATE TEXT START-->
            <div class="donate-text">
              <p>WE APPRECIATE YOU TO HELP US</p>
              <a href="#" class="btn-filled">Donate Now</a>
            </div>
            <!--DONATE TEXT END-->
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--CAUSES SECTION END-->
  <!--EVENTS SECTION START-->
  <section class="white-bg">
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#333">AWARENESS OF BREAST CANCER TO ALL WOMENS</p>
        <h2 style="color:#333">latest News</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class="row">
        <div class="col-md-4">
          <div class="kode-event-list-2">
            <div class="kode-thumb">
              <a href="#"><img alt="" src="/assets/user-template/images/news-img1.png"></a>
            </div>
            <div class="kode-text">
              <h2>When the Breast Cancer Went Beyond the Breast</h2>
              <p class="title">Wednesday Januaur 19th, 2015</p>
              <a class="btn-filled" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kode-event-list-2">
            <div class="kode-thumb">
              <a href="#"><img alt="" src="/assets/user-template/images/news-img2.png"></a>
            </div>
            <div class="kode-text">
              <h2>Dealing With Change After Diagnosis</h2>
              <p class="title">Wednesday Januaur 19th, 2015</p>
              <a class="btn-filled" href="#">Read more</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kode-event-list-2">
            <div class="kode-thumb">
              <a href="#"><img alt="" src="/assets/user-template/images/news-img3.png"></a>
            </div>
            <div class="kode-text">
              <h2>Five Reasons Why We Should All Care More</h2>
              <p class="title">Wednesday Januaur 19th, 2015</p>
              <a class="btn-filled" href="#">Read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--PROGRESS SECTION START-->
  <section class="progress-section parallax-bg-count">
    <div class="container">
      <p>our commitment is to remove Breast Cancer</p>
      <h1>SUCCESS STORIES OF CANCER REMOVED</h1>
      <div class="row">
        <div class="col-md-3">
          <div class="count-up">
            <p>Breast Cancers</p>
            <span>$</span>
            <span class="counter circle">1,425,054</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="count-up">
            <p>People Helped</p>
            <span>$</span>
            <span class="counter circle">3,124,982</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="count-up">
            <p>Cancers Removed</p>
            <span>$</span>
            <span class="counter circle">625</span>
          </div>
        </div>
        <div class="col-md-3">
          <div class="count-up">
            <p>Countries Served</p>
            <span>$</span>
            <span class="counter circle">27</span>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--PROGRESS SECTION END-->
  <!--CAUSES LIST SECTION START-->
  <section class="gray-bg">
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#333">Compain about the awareness of Breast Cancer</p>
        <h2 style="color:#333">Latest Causes</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class="kode-causes-list kode-causes-box"> <!--Causes List Start -->
        <ul class="row">
          <li class="col-md-4">
            <figure>
              <a class="kode-causes-thumb" href="#"><img alt="" src="/assets/user-template/images/couses-list-1.jpg"></a>
              <div class="kode-label thbg-color">
                <small>$</small>
                <span>pLEDGE</span>
              </div>
              <figcaption>
                <div class="causes-skills">
                  <div class="progress"> <div style="width: 45%;" data-transitiongoal="45" role="progressbar" class="progress-bar" aria-valuenow="37"><span>45%</span></div> </div>
                </div>
                <div class="cause-inner-caption">
                  <div class="kode-causes-info">
                    <h2><a href="#">eDUCATION FOR ALL</a></h2>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </figcaption>
            </figure>
          </li>
          <li class="col-md-4">
            <figure>
              <a class="kode-causes-thumb" href="#"><img alt="" src="/assets/user-template/images/couses-list-2.jpg"></a>
              <div class="kode-label thbg-color">
                <small>$</small>
                <span>pLEDGE</span>
              </div>
              <figcaption>
                <div class="causes-skills">
                  <div class="progress"> <div style="width: 90%;" data-transitiongoal="90" role="progressbar" class="progress-bar" aria-valuenow="37"><span>90%</span></div> </div>
                </div>
                <div class="cause-inner-caption">
                  <div class="kode-causes-info">
                    <h2><a href="#">sAVE lIFE</a></h2>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </figcaption>
            </figure>
          </li>
          <li class="col-md-4">
            <figure>
              <a class="kode-causes-thumb" href="#"><img alt="" src="/assets/user-template/images/couses-list-3.jpg"></a>
              <div class="kode-label thbg-color">
                <small>$</small>
                <span>pLEDGE</span>
              </div>
              <figcaption>
                <div class="causes-skills">
                  <div class="progress"> <div style="width: 70%;" data-transitiongoal="70" role="progressbar" class="progress-bar" aria-valuenow="37"><span>70%</span></div> </div>
                </div>
                <div class="cause-inner-caption">
                  <div class="kode-causes-info">
                    <h2><a href="#">bETTER fUTURE</a></h2>
                    <p>Lorem ipsum dolor sit amet</p>
                  </div>
                </div>
              </figcaption>
            </figure>
          </li>
        </ul>
      </div> <!--Causes List End -->
    </div>
  </section>
  <!--CAUSES LIST SECTION END-->

  <!--EVENTS SECTION START-->
  <section class="white-bg">
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#333">AWARENESS OF BREAST CANCER TO ALL WOMENS</p>
        <h2 style="color:#333">Latest Events</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class="row">
        <div class="col-md-8">
          <!--EVENT LIST START-->
          <div class="kode-event-list">
            <img src="/assets/user-template/images/event1.jpg" alt="">
            <div class="kode-caption">
              <h2>Causes Of Breast Cancer</h2>
              <p>Firday June 12th, 2015</p>
              <a href="#" class="btn-borderd">Read More</a>
            </div>
          </div>
          <!--EVENT LIST END-->
        </div>
        <div class="col-md-4">
          <!--EVENT LIST START-->
          <div class="kode-event-list">
            <img src="/assets/user-template/images/event2.jpg" alt="">
            <div class="kode-caption">
              <h2>Breast Cancer Facts</h2>
              <p>Firday June 12th, 2015</p>
              <a href="#" class="btn-borderd">Read More</a>
            </div>
          </div>
          <!--EVENT LIST END-->
        </div>
        <div class="col-md-4">
          <!--EVENT LIST START-->
          <div class="kode-event-list">
            <img src="/assets/user-template/images/event3.jpg" alt="">
            <div class="kode-caption">
              <h2>Types Of Tumors</h2>
              <p>Firday June 12th, 2015</p>
              <a href="#" class="btn-borderd">Read More</a>
            </div>
          </div>
          <!--EVENT LIST END-->
        </div>
        <div class="col-md-4">
          <!--EVENT LIST START-->
          <div class="kode-event-list">
            <img src="/assets/user-template/images/event4.jpg" alt="">
            <div class="kode-caption">
              <h2>Growth Of Cancer</h2>
              <p>Firday June 12th, 2015</p>
              <a href="#" class="btn-borderd">Read More</a>
            </div>
          </div>
          <!--EVENT LIST END-->
        </div>
        <div class="col-md-4">
          <!--EVENT LIST START-->
          <div class="kode-event-list">
            <img src="/assets/user-template/images/event5.jpg" alt="">
            <div class="kode-caption">
              <h2>Risk Factors</h2>
              <p>Firday June 12th, 2015</p>
              <a href="#" class="btn-borderd">Read More</a>
            </div>
          </div>
          <!--EVENT LIST END-->
        </div>
      </div>
    </div>
  </section>
  <!--EVENTS SECTION END-->
  <!--TEAM SECTION START-->
  <section class="kode-team-section overlay movingbg"  class="normaltopmargin normalbottommargin light movingbg" data-id="customizer" data-title="Theme Customizer" data-direction='horizontal'>
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#fff">AWARENESS OF BREAST CANCER TO ALL WOMENS</p>
        <h2 style="color:#fff">Our Team</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class="row">
        <div class="col-md-3">
          <!--TEAM MEMBER START-->
          <div class="kode-team-member">
            <a href="#"><img src="/assets/user-template/images/team.png" alt=""></a>
            <div class="kode-text">
              <div class="kode-social-icons">
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
              <h3>Julia Dean</h3>
              <p>CO- Owner</p>
            </div>
          </div>
          <!--TEAM MEMBER END-->
        </div>
        <div class="col-md-3">
          <!--TEAM MEMBER START-->
          <div class="kode-team-member">
            <a href="#"><img src="/assets/user-template/images/team2.png" alt=""></a>
            <div class="kode-text">
              <div class="kode-social-icons">
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
              <h3>Maria Dean</h3>
              <p>CO- Owner</p>
            </div>
          </div>
          <!--TEAM MEMBER END-->
        </div>
        <div class="col-md-3">
          <!--TEAM MEMBER START-->
          <div class="kode-team-member">
            <a href="#"><img src="/assets/user-template/images/team3.png" alt=""></a>
            <div class="kode-text">
              <div class="kode-social-icons">
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
              <h3>Alena John</h3>
              <p>CO- Owner</p>
            </div>
          </div>
          <!--TEAM MEMBER END-->
        </div>
        <div class="col-md-3">
          <!--TEAM MEMBER START-->
          <div class="kode-team-member">
            <a href="#"><img src="/assets/user-template/images/team4.png" alt=""></a>
            <div class="kode-text">
              <div class="kode-social-icons">
                <ul>
                  <li><a href="#" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"data-toggle="tooltip" title="Google Plus"><i class="fa fa-google-plus"></i></a></li>
                  <li><a href="#" data-toggle="tooltip" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                </ul>
              </div>
              <h3>Bree Ann</h3>
              <p>CO- Owner</p>
            </div>
          </div>
          <!--TEAM MEMBER END-->
        </div>
      </div>
    </div>
  </section>
  <!--TEAM SECTION END-->
  <!--BLOG LISTING SECTION START-->
  <section>
    <div class="container">
      <!--HEADER SECTION START-->
      <div class="heading heading-4">
        <p style="color:#333">AWARENESS OF BREAST CANCER TO ALL WOMENS</p>
        <h2 style="color:#333">Our Blog</h2>
      </div>
      <!--HEADER SECTION END-->
      <div class="row">
        <div class="col-md-4">
          <div class="kode-blog-list">
            <div class="kode-thumb">
              <a href="#"><img src="/assets/user-template/images/blog1.png" alt=""></a>
            </div>
            <div class="kode-text">
              <div class="kode-avatar">
                <a href="#"><img src="/assets/user-template/images/avatar.png" alt=""></a>
              </div>
              <h2>12th March 2015</h2>
              <p>Posted By: Paige in Blog </p>
              <h4>Recent developments in breast cancer</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kode-blog-list">
            <div class="kode-thumb">
              <a href="#"><img src="/assets/user-template/images/blog2.png" alt=""></a>
            </div>
            <div class="kode-text">
              <div class="kode-avatar">
                <a href="#"><img src="/assets/user-template/images/avatar.png" alt=""></a>
              </div>
              <h2>12th March 2015</h2>
              <p>Posted By: Paige in Blog </p>
              <h4>Living Beyond Breast Cancer</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="kode-blog-list">
            <div class="kode-thumb">
              <a href="#"><img src="/assets/user-template/images/blog3.png" alt=""></a>
            </div>
            <div class="kode-text">
              <div class="kode-avatar">
                <a href="#"><img src="/assets/user-template/images/avatar.png" alt=""></a>
              </div>
              <h2>12th March 2015</h2>
              <p>Posted By: Paige in Blog </p>
              <h4>How I’m Getting Even With Stage 4</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--BLOG LISTING SECTION END-->
  <section class="testimonial-sec buy-template">
    <div class="container">
      <!--TESTIMONIAL STYLE 1 START-->
      <div class="kode-testimonials-7">
        <ul class="bxslider">
          <li>
            <div class="kode-cover">
              <div class="kode-thumb">
                <img src="/assets/user-template/images/testimonials-img3.png" alt="">
              </div>
              <div class="kode-text">
                <p>Early detection saved my life! I have never missed a mammogram since turning 40 and my April 1 mammogram was my first time using the 3D machine.</p>
                <h2>Nina Williams, Freelauncer</h2>
              </div>
            </div>
          </li>
          <li>
            <div class="kode-cover">
              <div class="kode-thumb">
                <img src="/assets/user-template/images/testimonials-img2.png" alt="">
              </div>
              <div class="kode-text">
                <p>I had my first mammogram at age 40. I had no family history of cancer but I did what my Dr. Told me to do. On my 3rd mammogram at age 42 they thought they saw something.</p>
                <h2>Kelly Bergenstock, Freelauncer</h2>
              </div>
            </div>
          </li>
          <li>
            <div class="kode-cover">
              <div class="kode-thumb">
                <img src="/assets/user-template/images/testimonials-img3.png" alt="">
              </div>
              <div class="kode-text">
                <p>In February of 2015, I was diagnosed with stage IV metastatic breast cancer. I had just turned 22 years old. Attending college, working, and engaged to my high school sweetheart</p>
                <h2>Anna Doe, Freelauncer</h2>
              </div>
            </div>
          </li>
          <li>
            <div class="kode-cover">
              <div class="kode-thumb">
                <img src="/assets/user-template/images/testimonials-img4.png" alt="">
              </div>
              <div class="kode-text">
                <p> would just like to show you how far my mum has come in 2 years! She was diagnosed with stage 3 invasive ductal carcinoma in 2013.</p>
                <h2>Anna Doe, Freelauncer</h2>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!--TESTIMONIAL STYLE 1 END-->
    </div>
  </section>

</div>
