<p>chatroom works!</p>
<div class="card mx-4 my-4">
    <div class="card-header">
     <h3>{{mensaje.user}}</h3>

    </div>

    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow: scroll; height: 360px;" >
     <ul class="list-group" >
       
         <li class="list-group-item list-group-item-light" *ngFor ="let mensaje of mensajes">
          <!--  {{mensaje.texto}}--> 
          <!--{{mensaje.fecha |date:'shortTime'}} {{mensaje.texto}}-->
        <span *ngIf="mensaje.tipo=='new_user'" >
            {{mensaje.fecha |date:'shortTime'}} {{mensaje.texto}} <span [ngStyle]="{'color':mensaje.color}">{{mensaje.username}}</span>

        </span>
        <span *ngIf="mensaje.tipo=='MENSAJE'" >
            {{mensaje.fecha |date:'shortTime'}}-<span [ngStyle]="{'color':mensaje.color}">{{mensaje.username}}</span>dit: <br> {{mensaje.texto}} 

        </span>
        </li>
     </ul>
    </div>

<div class="card-footer">
  <form class="form-inline">
       <div class="form-group mx-3">
          <input type="text" class="form-control" [(ngModel)]="mensaje.texto" placeholder="ecrire un msg" name="texto" (keyup)="escribirEvento()" >
       </div>
       <button class="btn btn-primary" type="submit" (click)="enviarMensaje()">Send</button>
  </form>
  <div>
    {{escribiendo}}  
  </div>
    </div>

