<!doctype html>
<html lang="en" class="dark-theme">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/assets/admin/images/favicon-32x32.png" type="image/png" />
    <!--plugins-->
    <link href="/assets/admin/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
    <link href="/assets/admin/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
    <!-- Bootstrap CSS -->
    <link href="/assets/admin/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/admin/css/bootstrap-extended.css" rel="stylesheet" />
    <link href="/assets/admin/css/style.css" rel="stylesheet" />
    <link href="/assets/admin/css/icons.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

    <!-- loader-->
    <link href="/assets/admin/css/pace.min.css" rel="stylesheet" />


    <!--Theme Styles-->
    <link href="/assets/admin/css/dark-theme.css" rel="stylesheet" />
    <link href="/assets/admin/css/light-theme.css" rel="stylesheet" />
    <link href="/assets/admin/css/semi-dark.css" rel="stylesheet" />
    <link href="/assets/admin/css/header-colors.css" rel="stylesheet" />

    <title>WomanArea51 -Select category for new fund</title>
</head>
<body>
<app-navbar></app-navbar>


<main class="page-content">
    <!--breadcrumb-->
 
    <div class="card">



        <div class="row">


            <div class="card-body">
                <div class="card bg-transparent shadow-none">
                    <div class="d-flex align-items-center">
                        <h5 class="mb-0"> All Fund categories</h5>


                        <form class="ms-auto position-relative">
                            <input class="form-control ps-5" [(ngModel)]="keyword" type="text"
                                placeholder="search by keyword" [ngModelOptions]="{standalone: true}">
                            <div class="position-absolute top-50 translate-middle-y search-icon px-3"><i
                                    class="bi bi-search"></i></div>
                        </form>
                        <form class="ms-auto position-relative">
                            <button type="button" class="btn btn-outline-primary" [routerLink]="['/admin/Fund/edit/update-category',fId ,'confirm',catId]" >  Keep current Fund Category    </button>
                        </form>

                    </div>
                    <div class="col">
                        <div class="card" *ngFor="let c of listFundCat |filter:keyword">
                            <img src={{c.categoryImg}} class="card-img-top" alt={{c.categoryType}}>
                            <div class="card-body text-center">
                                <h5 class="card-title">{{c.categoryType}}</h5>
                                <p class="card-text"></p>
                                <a [routerLink]="['/admin/Fund/edit/update-category',fId ,'confirm', c.categoryId]" class="btn btn-warning" >Select</a>
                            </div>
                        </div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>


    <!--end row-->

</main>
<app-footer></app-footer>
</body>
</html>
