<div class="body">
    <form class="form-horizontal">
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">

                <label for="CategoryType">Category type</label>

            </div>

            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">

                <div class="form-group">
                    <div class="form-line">
                        <input name="CategoryType" [(ngModel)]="FC.categoryType" type="text" id="CategoryType"
                            class="form-control" placeholder="Enter your category type">
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row clearfix">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-5 form-control-label">

                <label for="CategoryImg">category image/icon</label>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-8 col-xs-7">

                <div class="form-group">
                    <div class="form-line">
                        <input name="CategoryImg" [(ngModel)]="FC.categoryImg" type="text" id="CategoryImg"
                            class="form-control" placeholder="Upload a category image">
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-lg-offset-2 col-md-offset-2 col-sm-offset-4 col-xs-offset-5">
                <br>
                <div class="col-md-12 text-center">
                <button (click)="addFundCatgeory()" type="button"
                    class="btn btn-success m-t-15 waves-effect">Add</button>
                </div>
            </div>
        </div>
    </form>
</div>