

<div class="inner-banner">
  <div class="container">
    <h2>Website is Underconstruction</h2>

  </div>
</div>
<!--CONTENT START-->
<div class="content">
  <div class="container">
    <div class="kode-under-construction">
      <h2>Comming Soon</h2>
      <div id="defaultCountdown"></div>
      <div class="kode-text">
        <p>Our Website is under construction. We`ll be here sonn with our new awesome site,  subcribe to be notified.</p>
      </div>
      <div class="input-container">
        <input type="text" placeholder="Search">
        <i class="fa fa-pencil"></i>
        <button class="btn-filled">Get Notified</button>
      </div>
    </div>
  </div>
  <section class="buy-template">
    <div class="container">
      <h2>Clean And Beautiful Design For Your Fundraising Project</h2>
      <h4>Don't Forget to rate the theme thank you so much</h4>
      <a class="btn-borderd" href="#">Buy Now</a>
      <a class="btn-borderd" href="#">Subscribe Us</a>
    </div>
  </section>
</div>
